@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to Phonebook</h1>
    <p class="mt-2">Store and access your contacts whenever you like with our Phonebook Web App!</p>
    <div class="">

        <button class="btn btn-primary">
            <a class="nav-link text-white" asp-controller="Phonebook" asp-action="Index">Start Now</a>
        </button>

    </div>
</div>
